<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>MS DHONI</title>
    </head>
<header>
        <h1><centre>ONE MAN ,ONE MYTH:MS DHONI</centre></h1>
        

    </header>
    <main>
        <section id="INTRODUCTION">
            <h2>Introducing Our One man ,One Myth:DHONI</h2>
            <img src="mahii.jpg" alt="ms dhoni">
            <p>MS Dhoni was born on July 7, 1981, in Ranchi, Bihar (present-day Jharkhand) in a Hindu Rajput family to Pan Singh and Devki Devi. His paternal village is in the Lamgara block in Almora, Uttarakhand. His father, Pan Singh, moved from Uttarakhand to Ranchi and worked in junior management positions in MECON. Dhoni has a sister and a brother-- Jayanti Gupta (sister) and Narendra Singh Dhoni (Brother). 

                Dhoni did his schooling at DAV Jawahar Vidya Mandir, Ranchi, Jharkhand and excelled in multiple sports such as badminton, football and cricket. He played as a goalkeeper for his football team and played cricket for a local club. 
                
                Dhoni showed impressive wicket-keeping skills at the Commando Cricket Club during 1995-98 and was picked up for Vinoo Mankad Trophy Under-16 Championship for the 1997-98 session and played well. After completing High School, Dhoni focussed on Cricket. 
                
                During 2001-2003, Dhoni was a TTE (Travelling Ticket Examiner) at Kharagpur Railway Station, under South Eastern Railway in West Bengal. </p>
        <h2> Ms Dhoni :Personal Life</h2>
        <img src="family.jfif">
        <p>
            Before marrying his schoolmate Sakshi Singh Rawat, MS Dhoni fell in love with Priyanka Jha, whom he met in his early 20s. At that time in the year 2002, Dhoni was trying his best to get selected in the Indian team. The same year, his girlfriend died in an accident. Dhoni also dated South Indian actress, Lakshmi Rai. Mahendra Singh Dhoni married Sakshi Singh Rawat, his school friend from DAV Jawahar Vidya Mandir, on July 4, 2010. At the time of their marriage, Sakshi was studying a hotel management course at Taj Bengal in Kolkata as a trainee. 

On February 6, 2015, the couple gave birth to a baby girl named Ziva. At this time, he was in Australia and the 2015 Cricket World Cup was a week later. He didn't travel back and quoted 'I am on national duty, other things can wait'. 
        </p>
        <h2>MS Dhoni: Playing Style</h2>
<img src="batting.jpg">
        <p>
            
MS Dhoni is a right-handed batsman and wicket-keeper. He is famously known for his lower-order attacking mode which he later changed due to his responsibility as a captain. He is also one of the fastest running men between the wickets. His Helicopter Shot technique is loved by all which was taught to him by his fellow player childhood friend Santosh Lal. 

Apart from batting, he is widely appreciated for his wicket-keeping skills by several experts of the game. He is the quickest wicket-keeper when it comes to stumpings. He holds a world record for the highest number of stumpings by any wicket-keeper. He sometimes bowls as a medium-fast bowler for the Indian Cricket team.
        </p>
            </section>
        <section id="AWARDS">
            <h2>MS Dhoni AWARDS</h2>
            <img src="ms dhoni awards.jpg">
            <ul>
                <li>  In 2018, he received India's third-highest civilian award-- Padma Bhushan</li>
                <li>In 2009, he received India's fourth-highest civilian award-- Padma Shri. </li>
                <li>For 2007-2008, he received  India's highest honour given for achievement in sports-- Rajiv Gandhi Khel Ratna. </li>
                <li> In 2008, 2009, he was awarded the ICC ODI Player of the Year.</li>
                <li> In  2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014; he was awarded the ICC Wolrd ODI XI. </li>
                <li>In 2009, 2010 and 2013; he was awarded the ICC World Test XI. </li>
                <li>In 2011, he was awarded Castrol Indian Cricketer of the Year.</li>
                <li>In 2006, he received the title of MTV Youth Icon of the Year</li>
                <li>In 2013, he received the LG People's Choice Award. </li>
                <li>in August 2011, he received an honorary doctorate from De Montfort University.
                </li>
            </ul>

            <h2>MS Dhoni :Movies And Series</h2>
        <img src="movie.jpg">
            <p>
                In 2016, a Bollywood movie based on the life of MS Dhoni was made. The story outlined his journey from his childhood to the 2011 Cricket World Cup, starring Sushant Singh Rajput in a lead role.  and The movie was titled 'M.S. Dhoni: The Untold Story'. 
                
                On March 20, 2019, a web series titled 'Roar of the Lion' was released on Hotstar. It was based on his life and the time he spent with Chennai Super Kings in the IPL (Indian Premier League). 
              </p>
              <H2>Ms Dhoni:In Other Fields</H2>
              <p><b><u><i> OWNERSHIP:</i></u></b>
            <UL>
                <LI>
                    MS Dhoni is the co-owner of Ranchi Rays (Ranchi-based Hockey Club) along with Sahara India Pariwar. Ranchi Rays is a franchise of the Hockey India League.
                </LI>
                <LI>
                    Along with Abhishek Bachchan and Vita Dani, MS Dhoni is the co-owner of Chennaiyin FC (Chennai-based football club). It is a franchise of the Indian Super League.
                </LI>
                <LI>
                    Along with Akkineni Nagarjuna, Dhoni is the co-owner of the Supersport World Championship team, Mahi Racing Team India.
                </LI>
            </UL>
            <P>
            <B><U><I>BUSINESS:</I></U></B>
                In February 2016, Dhoni launched his brand 'SEVEN'. He owns the footwear of the brand is the brand ambassador of his company. 
            </P>
            <P><u><b><i>PRODUCTION HOUSE:</i></b></u>

                MS Dhoni has a production house named 'Dhoni Entertainment'. The first show produced under this banner was a documentary web series premiered on Hotstar-- Roar of the Lion. The series had MS Dhoni himself in the lead role. He will soon make his on-screen appearance in the upcoming web series Atharva: The Origin as Atharva.  </P>
        </p>
        <p><u><b><i>TERRITORIAL ARMY:</i></b></u>In 2011, MS Dhoni has conferred an honorary rank of lieutenant-colonel in the Indian Territorial Army for his contribution to cricket. In August 2019, he completed a two-week stint with the Army in Jammu and Kashmir region. </p>
        </section>
        <section id="collection">
            <h2>MS Dhoni: Cars and Bikes Collection</h2>
            <img src="collection.jpg">
           
            <p><B>Cars Collection</B>: Open Mahindra Scorpio, Maruti SX4, Hummer H2, Toyota Corolla, Land Rover Freelander, GMC Sierra, Mitsubishi Pajero Sfx, Mitsubishi Out Lander, Porsche 911, Audi Q7 SUV, Ferrari 599, Jeep Grand Cherokee

                <B>Bikes Collection</B>: Kawasaki Ninja H2, Confederate Hellcat, BSA, Suzuki Hayabusa, a Norton Vintage, Hero Karizma ZMR, Yamaha Rxz, Yamaha Thundercat, Yamaha Rx, Ducati 1098, Yamaha Rd 350, Tvs Apache, Kawasaki zx14r Ninja, Confederate Hellcat X 132, Harley Davidson Fat boy, Enfield Machismo, Customized Tvs Dirt bike</p>
        <h2>Ms Dhoni: Net WORTH</h2>
        <P>In 2012, Forbes magazine ranked Dhoni as one of the world’s top-earning sportspeople. Dhoni owns a hotel in Ranchi named 'Mahi Residency'. He also became the highest taxpayer sportsperson in India for the years 2012, 2013, 2014. As per several sources, his net worth is approximately US$103 million. </P>
      <h2>Ms Dhoni :Career</h2>
      <img src="career.jpg">
      <p>
        In the year 1998, MS Dhoni was selected for the Central Coal Fields Limited (CCL) team. Till 1998, he played for the school cricket team and club cricket. Whenever Dhoni hit a six in Sheesh Mahal tournament cricket matches, he was gifted Rs 50 by Deval Sahay, who selected him for CCL. With the help of his excellent performance, CCL moved to A division. Deval Sahay was impressed with his dedication and cricket skills and pushed for his selection in the Bihar team. For the 1999-2000 season, he got selected in the senior Bihar Ranji Team at the age of 18. He was not selected for the East Zone U-19 squad (CK Nayudu Trophy) or the Rest of the India squad (MA Chidambaram Trophy and Vinoo Mankad Trophy).
      <h4><B>most famous and key points of Ms Dhoni Career:</B></h4>
      <ul>
        <li>India crashed out of the 2007 Cricket World Cup and Dhoni was out for a Duck in the matches against Bangladesh and Sri Lanka. Due to Dhoni's poor performance in the 2007 World Cup, his house was vandalised by activists of JMM. After India exited from the World Cup in the first round, Dhoni's family was provided police protection. </li>
        <li>September 2007, for the World Twenty20 matches, Dhoni was elected as the captain of the Indian team. In September 2007, Dhoni sha</li>
        <li>In 2009, he topped the ICC ODI Batsman ranking</li>
        <li>In 2011, Dhoni-led India to the finals with a victory over Australia in the quarter-finals and Pakistan in the finals. Dhoni helped India win by chasing a target of 275 against Sri Lanka in the finals with Gautam Gambhir and Yuvraj Singh. Dhoni finished the match with a historical six with a score of 91*.</li>
        <li>In 2012, after the World Cup win, Pakistan toured India for a bilateral series for the first time in five years. India lost the series by 1-2. </li>
        <li>During the 2015 Cricket World Cup, Dhoni became the first Indian captain to win all group stage matches in such a tournament. Despite a great start in the 2015 Cricket World Cup, India lost the title to the eventual champions-- Australia. </li>
      </ul>
    </p>
            </section>
    </main>
    <footer>
        <p>Copyright © sneha rajput. All rights reserved.</p>
    </footer>
</body>
</html>
</body>
</html>